.month {
    margin-bottom: 0.25rem;
}

.list {
    margin-top: 0;
    list-style: none;
    padding: 0.5rem;
}

.list li {
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    margin-bottom: 0.5rem;
}

.list span {
    display: block;
    text-align: center;
    background-color: var(--linkColorMain);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.list a, .articleListHeader a {
    margin-left: 0.5rem;
    text-decoration: none;
}

.list a:hover, .articleListHeader a:hover {
    text-decoration: underline;
}