<div class="sidebar">
  <h1>
    <a href="{{ site.baseurl }}">
      {{ site.title }}
    </a>
  </h1>
  <p>{{ site.description }}</p>

  <nav>
    <a href="{{ site.baseurl }}">Home</a>
    <a href="/chronology">Chronology</a>
    <a href="/tag/all/">Tags</a>
    <a href="http://frankquednau.info">About</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>
  <p class="copyright">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
</div>