$mobile: 500px;
$iPad: 768px;
$desktop: 1200px;
$largeDesktop: 2000px;

@mixin underlined-links {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

@mixin widths {
    width: 100%;

    @media (min-width:$iPad) {
        width: 85%;
    }

    @media (min-width:$desktop) {
        width: var(--mainSizeLargeDesktop);
    }

    @media (min-width:$largeDesktop) {
        width: var(--mainSizeLargeDesktop);
    }
}