---
import Layout from "../layouts/main.astro";
---

<script is:inline>
    window.addEventListener("DOMContentLoaded", (event) => {
        let { pathname } = window.location;
        let lastPart = pathname
            .slice(pathname.lastIndexOf("/") + 1)
            .replaceAll("-", " ");
        let q = lastPart + " site:realfiction.net";
        let query = new URLSearchParams({
            q,
        });
        document
            .querySelector("#googlelink")
            .setAttribute(
                "href",
                "https://google.com/search?" + query.toString()
            );
        document.querySelector(
            "#googlelinkexplain"
        ).innerHTML = `the link will search for '${q}'`;
    });
</script>
<style>
    .center {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    a {
        display: inline-block;
        background-color: var(--linkColorMain);
        color: var(--linkColorMainContrast);
        text-decoration: none;
        padding: 0 1rem;
        border-radius: 5px;
    }
    span {
        margin-top: 1rem;
        font-size: 0.9rem;
        font-style: italic;
    }

    div img {
        box-shadow: none;
        margin: 0;
    }
</style>
<Layout skipFooter>
    <div class="center">
        <img src="/assets/404.webp" alt="404, Not found">
    </div>
    <h1>sorry, this page does not exist!</h1>
    <p>
        It's most likely my fault, though, because I'm getting old and keeping
        the URLs stable while I mess around with my website is probably asking
        too much!
    </p>
    <p>
        Even so, I have an up to date site map and if you follow this google
        search, chances are that you'll get to where you wanted to go.
    </p>
    <div class="center">
        <a id="googlelink">Search for this page on google</a>
        <span id="googlelinkexplain"></span>
    </div>
</Layout>
