---
import Layout from "../layouts/main.astro";
import Entry from "../components/HomePageEntry.astro";
import query from "../components/mainPageQuery";

const entries = await query();
---

<Layout>
	<div role="list">
		{entries.map(e => <Entry entry={e} />)}
	</div>
</Layout>