@value mobile from "./breakpoints.css";

.dateContainer {
    align-self: flex-start;
    display: inline-grid;
    grid-template-columns: 0 auto;
    grid-template-rows: auto auto;
    border: 1px solid var(--linkColorMain);;
    border-radius: 5px;
}

.month {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
    display: block;
    grid-column: 2;
    grid-row: 1;
}

.date {
    display: flex;
    grid-column: 2;
    grid-row: 2;
    background-color: var(--linkColorMain);
    color: white;
    padding: .25rem 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    justify-self: stretch;
    justify-content: center;
    align-items: center;
}

.year {
    display: block;
    visibility: hidden;
    writing-mode: vertical-lr;
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 0.25rem;
    line-height: 1rem;
}

.excerpt {
    font-size: 1.4rem;
    margin: 0.25rem;
}

@media mobile {
    .dateContainer {
        grid-template-columns: auto auto;
    }

    .year {
        visibility: visible;
    }
  }