.footer {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-top: var(--lightSeparator);
}

.footer img {
    margin: 0.25rem;
    box-shadow: none;
}

.footer p {
    margin: 0.25rem;
}