@value ipad, desktop, largeDesktop from "./breakpoints.css";

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-top: var(--lightSeparator);
}

.main img {
    margin: 0.25rem;
    box-shadow: none;
}

.main p {
    margin: 0.25rem;
}

@media ipad {
    .main {
        width: 90%;
    }
}

@media desktop {
    .main {
        width: 70%;
    }
}

@media largeDesktop {
    .main {
        width: 55%;
    }
}