---
import type { CollectionEntry } from "astro:content";
import Date from "../components/Date.astro";

interface Props {
    entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const {
    remarkPluginFrontmatter: { excerpt },
} = await entry.render();
const {
    data: { title, date },
    slug,
} = entry;
---

<style>
    article {
        margin-bottom: 3rem;
    }

    article:last-of-type {
        margin-bottom: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h2 {
        font-size: 1.7rem;
        line-height: 2rem;
        margin: 0 0 0 0.5rem;
    }

    h2 a {
        text-decoration: none;
    }

    h2 a:hover {
        text-decoration: underline;
        text-decoration-style: solid;
    }

    p {
        font-size: 1.4rem;
        margin: 0.25rem;
    }
</style>
<article role="listitem">
    <header>
        <Date date={date} />
        <h2>
            <a href={`/posts/${slug}`}>{title}</a>
        </h2>
    </header>
    <p>{excerpt}</p>
</article>
