@value ipad, desktop from "./breakpoints.css";

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  border: 1px solid var(--linkColor);
  border-radius: 5px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 1.5rem;
  background-color: var(--linkColor);
  color: var(--linkColorMainContrast);
  text-decoration: none;
  align-self: stretch;
  margin: 0.25rem;
  border-radius: 5px;
}

.linkPrevious {
    composes: link;
    grid-column: 1;
    grid-row: 1;
}

.linkNext {
    composes: link;
    grid-column: 2;
    grid-row: 1;
}

.disabled {
    opacity: 0.2;
}

.link:hover {
  text-shadow: var(--linkHoverHighlight);
}

.title {
    font-size: 1rem;
    padding: 0 0.5rem;
}

.border {
    border-left: 1px dashed var(--linkColor);
}

@media ipad {
    .navigation {
        grid-template-columns: auto repeat(2, 1fr) auto;
        grid-template-rows: auto;
    }

    .link {
        margin: 0;
        border-radius: 0;
    }

    .linkPrevious {
        grid-column: 1;
    }

    .linkNext {
        grid-column: 4;
    }

    .border {
        border-left: 1px solid var(--linkColor);
    }
}