.container {
    border-radius: 25px;
    background: #f9f9f9;
    box-shadow: var(--standardShadow);
}

.header {
  text-align: right;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 1.2em;
  background-color: #777;
  color: white;
  padding: 2px 0px;
  margin-bottom: 0;
  padding-right: 20px;
  font-style: italic;
}

.list {
  list-style-type: upper-roman;
  margin-top: 0;
  margin: 1rem;
  padding-bottom: 1rem;
  list-style-position: outside;
}
