<style>
    aside {
        display: flex;
        justify-content: center;
    }

    div {
        font-weight: 500;
        position: relative;
        background: rgb(198, 248, 255);
        color: black;
        border-left: 10px solid var(--linkColor);
        padding: 1rem 0.25rem;
        box-shadow: var(--standardShadow);

        padding-left: 60px;
        quotes: "\201C" "\201D" "\2018" "\2019";
    }

    div > p {
        margin: 0;
    }

    div:before {
        position: absolute;
        left: 5px;
        top: 5px;
        color: var(--linkColor);
        content: "ⓘ";
        font-size: 6em;
        line-height: 1em;
        opacity: 0.4;
        z-index: 0;
    }
</style>

<aside>
    <div><slot /></div>
</aside>
