<style>
    aside {
        display: flex;
        justify-content: center;
    }

    div {
        position: relative;
        background: rgb(198, 248, 255);
        color: black;
        border-left: 10px solid var(--linkColor);
        padding: 1rem 0.25rem;
        box-shadow: var(--standardShadow);

        padding-left: 60px;
        quotes: "\201C""\201D""\2018""\2019";
    }

    div > p {
        margin: 0;
    }

    div:before {
        position: absolute;
        left: 5px;
        color: var(--linkColor);
        content: "\24D8";
        font-size: 1.8em;
        font-family: helvetica;

        margin-right: 0.25em;
        vertical-align: -0.2em;
    }
</style>

<aside>
    <div><slot /></div>
</aside>
