---
import { getCollection } from "astro:content";

interface Props {
    active: string;
    topicId: string;
}
const { topicId, active } = Astro.props;
const articles = await getCollection("blog");
const entries = articles.filter((a) => a.data.topic == topicId);
---

<style lang="scss">
    nav {
        border-radius: 25px;
        background: #f9f9f9;
        box-shadow: var(--standardShadow);
        @media (prefers-color-scheme: dark) {
            background: #272822;
        }
    }

    h3 {
        text-align: center;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        font-size: 1.2em;
        background-color: var(--linkColor);
        color: white;
        padding: 2px 0px;
        margin-bottom: 0;
        padding-right: 20px;
    }

    ol {
        list-style-type: upper-roman;
        margin-top: 0;
        margin: 1rem;
        padding-bottom: 1rem;
        list-style-position: outside;
    }
</style>

<nav>
    <h3>In this series</h3>
    <ol>
        {
            entries.map(({ slug, data: { title } }) => {
                return (
                    <li>
                        {title == active ? (
                            <span>{title}</span>
                        ) : (
                            <a href={`/posts/${slug}`}>{title}</a>
                        )}
                    </li>
                );
            })
        }
    </ol>
</nav>
